html {
	background-image: url(falling_snow.gif);
      background-size: 100%;
      background-repeat: no-repeat;
      }
body {
    padding: 20px;
    margin: 20px;
    border: 2px dotted #FFF;
    color: #FFF; 
  }
  @font-face {
      font-family: 'SnowtopCaps';
      src: url(snowtopcaps.oft);
  }
  h1, h2 {
	  font-family: 'SnowtopCaps';
}
  a {
    color: #FFF;
    font-style: italic;
  }
  a:hover {
        color: #00F;
        font-weight: bold;
}

